body {
  background-color: #f1f1f1;
}


header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%
}
#searchB{
  background-color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}


#languageH{
  background: #167ac6;
  color: white;
  width: 100%;
  /**/
  margin-left: 30px;
  margin-right: 30px;
}
#linksH{
  display: flex;
  flex-direction: row;
  width: 100%;
  line-height: 25px;
  text-decoration: none;
  border: 1px solid #167ac6;
  justify-content: space-between;
  font-size: 20px;
  background-color: white;

}
 /**tiago*/
#searchB p {
  background-color: white;

}
/* #searchB input {
  background-color: white;
  justify-self: center;
  width: 800px;
  height: 25px;
}

#inputButton {
  width: 100px;
  border-radius: 200px;
}*/
/*test*/
#divInput {
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    width: 900px;

    align-items: center;

  }

#divInput input{
  width: 800px;
  height: 25px;
  border-radius: 0px;
}
#divInput button {
  width: 100px;
  height: 30px;
  border-radius: 0px;
}
#SignIn {
  background-color: #167ac6;
  color: white;
  font-size: 15px;
  height: 30px;
  border-radius: 2px;

}


/*Endingtest*/
/* #searchB button {
  background-color: #167ac6;
  color: white;
  font-size: 11px;
  height: 30px;
  border-radius: 2px;

} */
/* #linksH a {
  text-decoration: none;
  color: #167ac6;
} */
#languageH p {
  margin-left: 75px;
  font-size: 15px;
}

#linksH p {
  margin-left: 50px;
}

#change {
  text-decoration: none;
  color: #167ac6;
}


#learn {
  text-decoration: none;
  color: #167ac6;
  margin-top: 15px;
  margin-right: 25px;
}
/*000*/

#bodySections{
  display: flex;
  flex-direction: row;
  margin: 25px;
}
#leftSection{
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 60%;
}
#thumbnails{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#video{
  border: 2px solid black;
  background: white;
  margin: 5px;
}
#vidTitle{
  background: white;
  margin: 5px;
  padding: 15px;
}
#vidDesc{
  background: white;
  margin: 5px;
  padding: 15px;
}
#footTop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#footBot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
footer{
  background: white;
  padding: 25px;

}
footer a{
  text-decoration: none;
}
#footLine{
  opacity: 0.75;
  margin: 15px;
}


/**/
/*section 2*/
