body {
  background-color: #f1f1f1;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%
}
#searchB{
  display: flex;
  flex-direction: row;
}
#languageH{
  background: blue;
  color: white;
  width: 100%
}
#linksH{
  display: flex;
  flex-direction: row;
  width: 100%
  line-height: 25px;
  text-decoration: none;
}
#bodySections{
  display: flex;
  flex-direction: row;
  margin: 25px;
}
#leftSection{
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 60%;
}
#thumbnails{
  display: flex;
  flex-direction: column;
  margin: 5px;
}
#video{
  border: 2px solid black;
  background: white;
  margin: 5px;
}
#vidTitle{
  background: white;
  margin: 5px;
  padding: 15px;
}
#vidDesc{
  background: white;
  margin: 5px;
  padding: 15px;
}

footer{
  background: white;
  padding: 25px;
    font-family: arial, sans-serif;
    margin-bottom: 25px;
}
footer a{
  text-decoration: none;
      color: #333333;
}
#footTop{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
    color: #333333;
}
#footBot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
        margin: 5px;
}
#footTop button{
  margin: 5px;
  border: 1px solid #d3d3d3;
  padding: 5px 5px 5px 25px;
  font-size: 11px;
  background: #f8f8f8;
  border-radius: 2px;
 cursor: pointer;
 height: 28px;
 font-family: arial, sans-serif;
}

#footLine{
 color: #ececec;
  margin: 15px;
}
#footBot a{
  margin: 5px;
}
#botLinks{
  font-size: 11px;
    color: #333333;
      margin-top: 5px;
}

#triangle{
  position: relative;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #333333;
  top: 7.5px;
  margin: 5px;

}

#lang{
  background-image: url(https://archive.vn/Bss88/73e7cc59947d2ad243d63294411f83990629f7fc.png);
  background-position: 0px -666px;
  background-repeat: no-repeat;
  background-color: transparent;
border: 1px solid black;
  height: 15px;
  width: 25px;
}

#hist{
  background-image: url(https://archive.vn/Bss88/73e7cc59947d2ad243d63294411f83990629f7fc.png);
  background-position: -213px -605px;
  line-height: 20px;
  width: 20px;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 10px 0 0;

}
#histLink{
  display: inline-block;
  margin: 5px;
  border: 1px solid #d3d3d3;
  padding: 5px 10px 5px 25px;
  font-size: 11px;
  background: #f8f8f8;
  border-radius: 2px;
  height: 28px;
}
